<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.estore.dao.ILineDao">
	<insert id="savaLine" parameterType="Order">
		<selectKey resultType="long" keyProperty="id" order="BEFORE">
			select my_seq.nextval from dual
		</selectKey>
		insert into tbl_line(id,num,order_id,book_id)
		values(#{id},#{num},#{order.id},#{book.id})
	</insert>
	
	<delete id="deleteLineByOrderId" parameterType="long">
		delete from tbl_line
		where order_id=#{id}
	</delete>
	
</mapper>			